/*
  All elements will have a line height of 140% of their font size applied to all text. This is to ensure
  there is sufficient null space around the text on the webpage.
*/
* {
  line-height: 140%;
}

/*
  This styles the entire website to have 0 pixels of margin and a background colour of #dad7cd.
*/
body {
  margin: 0px;
  background-color: #dad7cd;
}

/* 
  This styles the header to have a position of sticky and a value of 0 for the top. This makes it so that the header 
  and the contents in the header remain at the top of the user's browser as they scroll
  down the webpage. A value of 1 has been set for the z-index to make sure that the header stays on top of all other elements.
  This styles the header to have a background colour of #588157. As well as centering all text in the header.
*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: #588157;
  text-align: center;
}

/*
  This styles the nav to have 20 pixels of padding only on the top-and-bottom. It also makes it an inline-block element.
*/
nav {
  display: inline-block;
  padding: 20px 0px;
}
/* 
  This is a class for styling the anchor tags in the navigation bar.
  It adds a padding of 20 pixels and changes the font colour to #dad7cd.
  It changes the font-size to 21 pixels. 
  It uses the Georgia font family, if that doesn't work it uses the Cambria font family, if that 
  doesn't work then it uses the Baskerville font family, if that doesn't work then it uses the 
  Garamond font family, if that doesn't work it uses the Times New Roman font family, and finally
  it'll use the serif font as a last resort.
  This styling uppercases the text.
  It adds a transition to change the background color when the element gets hovered or focused with the tab key,
  with a transition duration of 0.4 seconds.
*/
.nav-link {
  padding: 20px;

  color: #dad7cd;

  font-family: Georgia, Cambria, Baskerville, Garamond, "Times New Roman", serif;
  font-size: 25px;

  text-transform: uppercase;

  letter-spacing: 3px;

  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

/* 
  This is the styling for when an item in the navigation bar gets hovered and when it's being focused
  with the tab key.
  It changes the background colour of that item to #6a9969.
*/
.nav-link:hover,
.nav-link:focus {
  background-color: #6a9969;
}

/* 
  This is a descendant selector to style all list items that are in the nav-link class elements.
  It styles all the list items in the nav-link class to be inline-blocks.
*/
.nav-link li {
  display: inline-block;
}

/* 
  This is an ID for styling David Attenborough's name in the header.
  
  It makes it an inline element. Adds 10 pixels of padding. Changes the font colour to #dad7cd.
  It has a font size of 24 pixels. It is fully opaque.
  
  It uses the Didot font family, if that doesn't work then it uses the Palatino font family,
  if that doesn't work then it uses the Lucida Bright font family, and finally it'll use the 
  serif font as a last resort.
  It uppercases the text. As well as having 3 pixels of letter spacing.
  
  A value of none has been applied to the text shadow and animation property to ensure there is no text shadow & animations 
  for this element on the all pages.
*/
#name-styling {
  display: inline-block;
  padding: 0 50px 0 0;

  font-family: Didot, Palatino, "Lucida Bright", serif;
  font-size: 24px;

  text-transform: uppercase;

  letter-spacing: 3px;

  color: #dad7cd;
  opacity: 1;

  text-shadow: none;

  -o-animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}
